[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"
pylint = "*"

[packages]
fastapi = "*"
fastapi-utils = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pytesseract = "*"
pdf2image = "*"
Pillow = "*"
cmake = "*"
pylint = "*"
pandas = "*"
python-multipart = "*"
dataclasses = "*"
databases = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pypdf2 = "*"
streamlit = "*"
pdfminer = "*"
pillow = "*"
pdfplumber = "*"
pypdf4 = "*"
slate3k = "*"
python-poppler = "*"
tesseract = "*"
bs4 = "*"

[requires]
python_version = "3.8"
